@model CargoVM
@{
    ViewData["Title"] = "Novo Cargo ";
}

<div class="modal-header">
    <h4 class="modal-title text-center">@ViewData["Title"]</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Voltar"></button>
</div>
<form asp-action="create" asp-controller="cargo" method="post" class="mt-3" role="dialog">
    <div class="modal-body">
        <vc:summary></vc:summary>
        <div class="text-center">
            <div class="col-md-offset-2">                
                <input asp-for="Descricao" class="form-control"  placeholder="Descrição do Cargo">                
            </div>
        </div>
        <div class="mt-2 text-center">
            <div class="col-md-offset-2">
                <input type="submit" class="btn btn-dark" value="Enviar" />
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
