@model ResetPasswordVM;
@{
    ViewData["Title"] = "Nova Senha";
}


<div class="container content  d-flex justify-content-center align-items-center">
    <div class="login-content">
        <div class="card-body">
            <div class="card rounded-card p-4">
                <vc:summary />
                <h4>Cadastre um nova senha</h4>
                <form  method="post">
                    <div class="d-flex flex-column justify-content-between gap-4 mb-2">
                        <div class="form-group">
                            <input asp-for="Email" class="form-control form-control-lg" placeholder="E-mail">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" class="form-control form-control-lg" placeholder="Senha">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="ConfirmPassword" class="form-control form-control-lg" placeholder="Confirme a Senha">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="d-flex">
                            <button type="submit" class="flex-fill btn btn-lg btn-danger">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
